@media (max-width: 410px){
    .menu{
        flex-direction: column;
        
    }

    .menu a{
       padding-bottom: 2vw; 
    }

    header{
        flex-direction: column;
    }
}

@media (max-width: 578px){
    .filmcard2{
        margin-top: 40vw;
    }
}

@media (max-width: 414px){
    footer{
        margin-top: 50vw;
    }
}

@media (max-width: 961px){
    .menu{
        font-size: 3vw;
    }
}





