@font-face {
	font-family: 'Philosopher'; 
	src: local('philosopher'),
		url(Philosopher-Bold.ttf); 
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background: radial-gradient(#181A19,#24282B);
    color: white;
}

header{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    text-align: center;
    background: radial-gradient(#181A19,#24282B);
    border: 2px solid;
    border-image-source: linear-gradient(90deg, #212323 0%, #252D30 34.9%, #1B2121 100%);
    margin-right: 0;
}

.logo{
    display: flex;
    font-family:"Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #81BECB;
    font-size: 12px;
    line-height: 14.06px;
    letter-spacing: 0.1px;
    flex-direction: column;
    padding: 4vw;
}
.logoGrey{
    width: 155px;
    height: 72px;
    background-image: url(logoGrey.svg);
}
.logoBlue{
    width: 107px;
    height: 27px;
    margin-top: 23px;
    margin-left: -48px;
}

.poisk button{
    background: transparent;
    border: none;
    padding: 0.4vw;
    border: none;
}

.poisk input{
    background: transparent;
    border: none;
}
.searchOnSite{
    font-family:"Roboto", sans-serif;
    color: #6D7A7C;
    background: local;
    border: none;
} 
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

::placeholder{
    padding-left: 1vw;
    font-size: 14px; 
}

.mask1{
    position: absolute;
    z-index: -1;
    width: 50vw;
    top: 9.0625vw;
    margin-left: -7.9687vw;
    border-radius: 100%;
    justify-self: left;
}
.mask2{
    position: absolute;
    z-index: -1;
    width: 50vw;
    top: 98.6458vw;
    left: 19.2708vw;
    border-radius: 100%;
    margin-left:35.9375vw;
    justify-self: right;
    margin-top: -15.6250vw;
}
.mask3{
    position: absolute;
    z-index: -1;
    width: 50vw;
    top: 255.6458vw;
    right: 51.2708vw;
    border-radius: 100%;
    margin-left:-135.9375vw;
    justify-self: left;
    margin-top: -15.6250vw;
}

.textMenu{
    font-family:"Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    color: #FFFFFF;
}
.textMenu:first-child{
    padding-left: 0;
}
.dropbtn{
    font-family:"Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    background: local;
}
.dropbtn:hover, .dropbtn:focus {
    background: local;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropem{
    display: none;
    position: absolute;
    background-color: rgba(28,29,31, 0.902);
    box-shadow: 0px 7px 16px 0px #00000040;
    width: 213px;
    height: 386px;
    gap: 0px;
    background: #1C1D1F80;
    opacity: 0px;
    border-radius: 0px 5px 5px 5px;
    border: 1px solid #2B2B2B;
    backdrop-filter: blur(5px);
    z-index: 1;
    font-family:"Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    color: #FFFFFF;
}
.dropem a {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
}
.dropdown a:hover {background-color: rgba(57, 59, 61, 0.502);}
.show {display: block;}

.menu{
    margin-top: 2vw;
    margin-bottom: 1vw;
}

.poisk{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 300px;  
    border-radius: 10vw;
    border: 2px solid #252A2C;
    background: #1B1E1E;
    padding: 0.4vw;
    margin-left: 2vw;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    background-image: url(img/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60vw;
    height: 25vw;
    box-shadow: 0px 7px 16px 0px #00000040;
    margin-top: 2vw;
}

.hleb {
    width: 57vw;
    border-radius: 5px 5px 0px 0px;
    background: #161A1959;
    padding: 1vw;
    margin: 0;
}

.mainmenutxt{
    font-family:"Roboto", sans-serif;
    font-size: 1vw;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
}

.bestfilmstxt{
    font-family: "Philosopher";
    font-style: bold;
    font-size: 4vw;
    font-weight: 500;
    text-align: left;
    color:#FFFFFF;
    padding-top: 1vw;
    padding-left: 1.4vw;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}

.sidebh2{
    width: 20.6771vw;
    padding: 1vw;
    border-radius: 5px 5px 0px 0px;
    border: 1px 0px 0px 0px;
    background: rgba(33, 33, 33, 1);
    border: 1px solid rgba(43, 43, 43, 1);
    margin-top: 30px;
}

.datatxt {
    font-size: 1vw;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
    color: rgba(164, 164, 164, 1);
    padding-left: 0.5vw;
}

.podbtxt {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    margin-top: 1vw;
}

.podb {
    width: 20.6771vw;
    border-radius: 5px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(43, 43, 43, 1);
    padding: 1vw;
}

.menus{
    display: flex;
    flex-wrap: wrap;
}

.sbh2{
    text-align: center;
    font-size: 1.5vw;
}

.data{
    display: flex;
    align-items: center;
}

.podbwi{
    padding-left: 1vw;
}

.podimg{
    width: 5vw;
}

.data img{
    width: 1vw;
    height: 1vw;
}

.txtunderbanner{
    width: 60vw;
    font-size: 1vw;
    margin-top: 2vw;
}

.podbs2{
    background-image: url(img/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 22.9vw;
    height: 33vw;
    box-shadow: 0px 7px 16px 0px #00000040;
    font-family: 'Philosopher'; 
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 2.6vw;

}

a{
    text-decoration: none;
    color: white;
    font-family:"Roboto", sans-serif;
}

.podbs2 p{
    position: relative;
    right: 4vw; 
}

.smotret{
    background: #81BECB;
    border-radius: 3vw;
    font-size: 1vw;
    padding: 0.9vw;
    position: relative;
    top: 2vw;
}

.block2 h4{
    font-size: 3vw;
    margin-top: 10vw;
    padding-bottom: 1vw;
    font-family:"Roboto", sans-serif;
}

.block2 hr{
    background: #FFFFFF;
    border: 1px solid #81BECB;
    width: 55vw;  
}

.skins {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.cardtxt1 {
    font-family: "Roboto", sans-serif;
    font-size: 1.1vw;
    font-weight: bold;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.cardtxt2{
    margin-top: 1vw;
    font-size: 1vw;
}

#cardpic1 {
    display: flex;
    flex-direction: column;
    background-image: url(bestchoice/Rectangle\ 8.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 7px;
    width: 12.7604vw;
    height: 19.8438vw;
}

#cardpic2 {
    display: flex;
    flex-direction: column;
    background-image: url(bestchoice/Rectangle\ 8\ \(1\).svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 7px;
    width: 12.7604vw;
    height: 19.8438vw;
}

#cardpic3 {
    display: flex;
    flex-direction: column;
    background-image: url(bestchoice/Rectangle\ 8\ \(2\).svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 7px;
    width: 12.7604vw;
    height: 19.8438vw;
}

#cardpic4 {
    display: flex;
    flex-direction: column;
    background-image: url(bestchoice/Rectangle\ 8\ \(3\).svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 7px;
    width: 12.7604vw;
    height: 19.8438vw;
}

#cardpic5 {
    display: flex;
    flex-direction: column;
    background-image: url(bestchoice/Rectangle\ 8\ \(4\).svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 7px;
    width: 12.7604vw;
    height: 19.8438vw;
    margin-left: -10px;
}

.cardpicmark {
    width: 3.6979vw;
    margin-left: 0.7813vw;
    margin-top: 0.7813vw;
    margin-bottom: 0.2604vw;
}

.card{
    width: 12.7604vw;
    height: 19.8438vw;
}

.skins2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.filmcard1 {
    display: flex;
    flex-direction: row;
    margin-top: 15vw;
    width: 69.9479vw;
    height: 47.7083vw;
}

.filmcard2{
    display: flex;
    flex-direction: row;
    margin-top: 28vw;
    width: 69.9479vw;
    height: 47.7083vw;
}

.filmtitle {
    font-family: "Roboto", sans-serif;
    font-size: 3vw;
    font-weight: 500;
    text-align: left;
    color: #FFFFFF;
}

.filmtitle2 {
    font-family: "Roboto", sans-serif;
    font-size: 2vw;
    font-weight: initial;
    text-align: left;
    color: #FFFFFF;
    margin-top: 1vw;
}

.vstext {
    font-family: "Roboto", sans-serif;
    font-size: 6vw;
    font-weight: 700;
    color: rgba(114, 114, 114, 1);
    padding-left: 1vw;
}

.filmpic {
    width: 12.291699999999999vw;
    border-radius: 5px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    margin-top: -1.8229vw;
}

.filmpic img {
    width: 25.2917vw;
}

.inform1 {
    display: flex;
    flex-direction: column;
    border: 1px solid #2B2B2B;
    width: 57.8vw;
    border-radius: 5px 0px 0px 0px;
    background: #212121;
}

.inform2 {
    display: flex;
    flex-direction: column;
    border: 1px solid #2B2B2B;
    width: 57.8vw;
    border-radius: 5px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #1C1D1F80;
    box-shadow: 0px 7px 16px 0px #00000040;
    margin-top: 1vw;
    backdrop-filter: blur(5px);
}

.str {
    display: flex;
    flex-direction: row;
    border-bottom-style: solid;
    border-bottom-color: #2B2B2B;
    border-bottom-width: 1px;
    padding-bottom: 1vw;
    padding-top: 1vw;
}

.janr {
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
    font-weight: 700;
    line-height: 21.09px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 1.2vw;
}

#j {
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 10.3646vw;
}

#c {
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 9.6875vw;
}

#act {
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 5.2083vw;
}

.ssilki {
    margin-left: 2.5vw;
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
}

.abouttxt {
    width: 57.8vw;
    border-radius: 5px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #1C1D1F80;
    border: 1px solid #2B2B2B;
    box-shadow: 0px 7px 16px 0px #00000040;
    margin-top: 1.2vw;
}

.zagabout {
    font-family: "Roboto", sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 25.78px;
    text-align: left;
    color: #FFFFFF;
    margin-top: 1.2vw;
    margin-left: 1.2vw;
}

.more{
    text-align: end;
    color: #81BECB;
    padding-left: 51vw;
}

.reit {
    margin-left: 1vw;
    width: 23.2917vw;
    height: 10.916699999999999vw;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    background: rgba(28, 29, 31, 0.5);
    border: 1px solid rgba(43, 43, 43, 1);
    box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.circle1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 0.4vw solid;
    border-color: #FF8E00;
    box-shadow: 6px 6px 12px 0px #000000;
    box-shadow: -6px -6px 12px 0px #535353;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.4vw;
    font-weight: 500;
    line-height: 18.75px;
}

.desabout {
    margin-top: 1.2vw;
    margin-left: 1.5vw;
    font-family: "Roboto", sans-serif;
    font-size: 1vw;
    font-weight: 400;
    line-height: 2vw;
    text-align: left;
    color: #FFFFFF;
    padding-bottom: 2vw;
}

.info1 {
    margin-left: 1vw;
    margin-top: 1vw;
    margin-right: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info2 {
    width: 54.0313vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#inftxt21 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1vw;
    line-height: 21.09px;
    text-align: left;
    color: #FFFFFF;
}

#inftxt22 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1vw;
    line-height: 21.09px;
    text-align: left;
    color: #FFFFFF;
}

#inftxt23 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1vw;
    line-height: 21.09px;
    text-align: left;
    color: #FFFFFF;
}

#inftxt24 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1vw;
    line-height: 21.09px;
    text-align: left;
    color: #FFFFFF;
}

.inftxt1 {
    font-family: "Roboto", sans-serif;
    font-size: 1.4vw;
    font-weight: 700;
    line-height: 1.25vw;
    text-align: left;
    color: #FFFFFF;
}

.circle2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 0.4vw solid;
    border-color: #E3AC3C;
    box-shadow: 6px 6px 12px 0px #000000;
    box-shadow: -6px -6px 12px 0px #535353;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.4vw;
    font-weight: 500;
    line-height: 18.75px;
}

footer {
    padding: 2vw;
    margin-top: 40vw;
    border: 1px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid;
    border-image-source: linear-gradient(90deg, #212323 0%, #252D30 34.9%, #1B2121 100%);
    background: radial-gradient(696.2% 730.65% at 47.6% 26.27%, rgba(24, 26, 25, 0.5) 0%, rgba(36, 40, 43, 0.5) 68.62%);
    box-shadow: 0px -7px 16px 0px #00000040;
    font-family: "Roboto", sans-serif;
}

.logotip{
    width: 14.9479vw;
    height: 9.2188vw;
}

.info_footer{
    width: 101vw;
    display: flex;
    justify-content: space-around;
}

.description1{
    margin-top: 5vw;
    margin-left: 1vw;
}

.footer_about p, .info_footer p{
    font-size: 1vw;
    color: #A8A8A8;
}

.menu_footer{
    color: white;
    font-size: 1.3vw;
}    

.info_footer{
    line-height: 1.4vw;  
}

.footer_line{
    margin-top: 2vw;
    border: 1px solid #323232;
    width: 80vw;
}

#bottomfoot{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vw;
}

#icons{
    display: flex;
    width: 20vw;
    justify-content: space-between;
}

.bottomtxt{
    font-size: 1vw;
    color: #A8A8A8;
}

.icon img{
    width: 3vw;
    height: 3vw;
}

.info_footer svg{
    height: 6vw;
}

#btmref{
    color: #A8A8A8;
}